In [1]:
import pandas as pd
import numpy as np

CARA 1

In [2]:
cf= pd.read_csv('latih_combined.csv', delimiter=",",header=None)

cf.head()

D:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,0,1,2,3,4,5,6,7,8,9,...,1273,1274,1275,1276,1277,1278,1279,1280,1281,1282
0,518740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.184748,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1
1,518740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.088155,0.067198,0.051936,0.031891,0.053303,0.223235,0.493394,0.025399,0.065604,K4LC41_9BETC
2,518740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.187898,0.181529,0.063694,0.000000,0.312102,0.363057,0.000000,0.203822,PLpro_SARS-CoV-2
3,518740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.281967,0.193443,0.373770,0.000000,0.118033,0.160656,0.000000,0.000000,0.209836,6LU7:A
4,518740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.142857,0.196013,0.189369,0.000000,0.119601,0.081395,0.378738,0.185216,0.053156,6M0J:A

In [3]:
cf.tail()

,0,1,2,3,4,5,6,7,8,9,...,1273,1274,1275,1276,1277,1278,1279,1280,1281,1282
42413,LMT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.000000,0.000000,0.243070,0.042644,0.076759,0.313433,0.972281,0.237740,0.136461,NEUR4_HUMAN
42414,LMT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.000000,0.253763,0.367742,0.000000,0.038710,0.421505,0.000000,0.479570,0.000000,NRAM_I83A1
42415,LMT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.213930,0.146766,0.212687,0.049751,0.067164,0.121891,0.000000,0.277363,0.199005,NRAM_INBLE
42416,LMT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.140676,0.064340,0.124318,0.130861,0.137405,0.748092,0.248637,0.121592,0.139586,ACE2_HUMAN
42417,LMT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.140676,0.064340,0.124318,0.130861,0.137405,0.748092,0.248637,0.121592,0.139586,IL6RB_HUMAN

In [16]:
#df= pd.read_csv('D:\\Bela\\Biofarmaka\\new\\crawling\\coba\\new-dti.csv', delimiter=";",header=None)
df= pd.read_excel('cov_dti.xlsx', sep=";",header=None)
df['label']=1

df.tail()

        0           1            2  label
851  4413  Nafamostat       6M0J:E      1
852  4413  Nafamostat       6LZG:A      1
853  4413  Nafamostat       6VSB:A      1
854  4413  Nafamostat       6VXX:A      1
855   LMT         LMT  IL6RB_HUMAN      1

In [17]:
df.head()

         0              1           2  label
0   518740  Arsentrioxide  AKT1_HUMAN      1
1  1548887     Arthrocine  AKT1_HUMAN      1
2     2662      Celecoxib  AKT1_HUMAN      1
3  3062316      Dasatinib  AKT1_HUMAN      1
4   176870      Erlotinib  AKT1_HUMAN      1

In [18]:
df[0] = df[0].astype(str)
df[2] = df[2].astype(str)
cf[0] = cf[0].astype(str)
cf[1282] = cf[1282].astype(str)

In [19]:
cf.shape

(41082, 1284)

In [20]:
df.shape

(856, 4)

In [21]:
cf=cf.drop_duplicates(subset=[1282,0])
df=df.drop_duplicates(subset=[0,2])

In [22]:
cf.shape

(41082, 1284)

In [23]:
df.shape

(728, 4)

In [24]:
cf['label']= np.where((cf[1282]+cf[0]).isin(df[2]+df[0]),1,0)#

In [25]:
cf['label'].value_counts()

0    40392
1      690
Name: label, dtype: int64

In [32]:
yp=cf[1282]=='YP_009725307.1'
la1=cf['label']==1
cf[yp & la1]

,0,1,2,3,4,5,6,7,8,9,...,1274,1275,1276,1277,1278,1279,1280,1281,1282,label
4676,74989,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
8684,2719,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
12358,492405,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
12692,37542,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
13026,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
18370,135398748,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
18704,121304016,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
19038,10445549,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
19372,135413535,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
19706,9552079,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
20040,5282242,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
20374,3343,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
20708,657237,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
21042,3793,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
21376,5479529,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
22044,10133,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
22378,2882,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
22712,27350,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
23046,222786,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
23380,444008,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
23714,54675769,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
24048,31553,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
24382,42890,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
24716,31101,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
25050,13505,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
25384,119212,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
25718,135565674,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
26052,64646,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1

In [26]:
cf.to_csv("latih_complete.csv",index=False)

In [70]:
cf.isnull().sum().max()

0

CARA 2

In [182]:
(pd.merge(rf,df,how='left',left_on=[0,1282],right_on=[0,1])
 .assign(B_y = lambda x: np.where(x.B_y.notna(),1,0))
 .rename(columns={'B_x':'B','B_y':'label'})
 )

AttributeError: 'DataFrame' object has no attribute 'B_y'

In [97]:
#np.where(rfa['com'], df.lookup(df.index, df['com']), np.nan)

In [105]:
new_df = pd.merge(rfa, dfa, how='outer', on=['com', 'uni'])
new_df.head()

,com,1,2,3,4,5,6,7,8,9,...,1274,1275,1276,1277,1278,1279,1280,1281,uni,label
0,518740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.004926,0.000000,0.000000,0.004926,0.0,0.000000,0.004926,IF4A2_HUMAN,NaN
1,518740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.004926,0.000000,0.000000,0.004926,0.0,0.000000,0.004926,IF4A2_HUMAN,NaN
2,518740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.004878,0.000000,0.002439,0.002439,0.0,0.000000,0.004878,IF4A3_HUMAN,NaN
3,518740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.004878,0.000000,0.002439,0.002439,0.0,0.000000,0.004878,IF4A3_HUMAN,NaN
4,518740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.002488,0.003731,0.002488,0.003731,0.002488,0.0,0.002488,0.006219,ACE2_HUMAN,NaN

In [60]:
merged_inner = pd.merge(left=df, right=rf, left_on=['com', 'uni'], right_on=['com', 'uni'])
# In this case `species_id` is the only column name in  both dataframes, so if we skipped `left_on`
# And `right_on` arguments we would still get the same result

KeyError: 'uni'

In [55]:
# What's the size of the output data?
merged_inner.shape

NameError: name 'merged_inner' is not defined

In [106]:
new_df.rows()

AttributeError: 'DataFrame' object has no attribute 'rows'

In [57]:
#result = pd.concat([rf, df], axis=1, join='outer')
#result.head()

In [58]:
#rff.loc[rff['label'] == 1]

In [59]:
rf.loc[rf['label'] == 1.0]

Empty DataFrame
Columns: [com, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]
Index: []

[0 rows x 1284 columns]

In [53]:
#gt['label'].value_counts()

In [54]:
row2

635

In [55]:
new_df['label_x'].value_counts()

NameError: name 'new_df' is not defined

In [117]:
cf=cf.drop([1300],axis=1)

In [122]:
cf.to_excel("newall-complete.xlsx",header=None)

In [121]:
np.savetxt("D:\\Bela\\Biofarmaka\\new\\Crawling\\coba\\newall-complete.csv",cf,fmt=["%s"]*1284, delimiter=";")

In [107]:
#new_df['label_x'].loc[new_df['label_y'] == 1.0] = 1.0

In [118]:
cf.head()

,0,1,2,3,4,5,6,7,8,9,...,1274,1275,1276,1277,1278,1279,1280,1281,1282,label
0,Moexipril hydrochloride,1,1,1,1,0,0,0,0,0,...,0.002469,0.002469,0.000000,0.000000,0.002469,0.0,0.000000,0.004938,IF4A1_HUMAN,0
1,Moexipril hydrochloride,1,1,1,1,0,0,0,0,0,...,0.000000,0.004926,0.000000,0.000000,0.004926,0.0,0.000000,0.004926,IF4A2_HUMAN,0
2,Moexipril hydrochloride,1,1,1,1,0,0,0,0,0,...,0.000000,0.004878,0.000000,0.002439,0.002439,0.0,0.000000,0.004878,IF4A3_HUMAN,0
3,Moexipril hydrochloride,1,1,1,1,0,0,0,0,0,...,0.002488,0.003731,0.002488,0.003731,0.002488,0.0,0.002488,0.006219,ACE2_HUMAN,1
4,Moexipril hydrochloride,1,1,1,1,0,0,0,0,0,...,0.000000,0.002088,0.000000,0.002088,0.004175,0.0,0.000000,0.004175,AKT1_HUMAN,0

In [505]:
#new_df=new_df.drop(columns=['label_y'])

In [506]:
#new_df=new_df.dropna()

In [109]:
new_df['label'].value_counts()

1.0    800
Name: label, dtype: int64

In [510]:
new_df['label_x'] = new_df['label_x'].astype(int)

In [511]:
new_df.head()

,com,1,2,3,4,5,6,7,8,9,...,1273,1274,1275,1276,1277,1278,1279,1280,uni,label_x
0,518740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.002088,0.000000,0.002088,0.004175,0.0,0.000000,0.004175,AKT1_HUMAN,1
1,518740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.002538,0.005076,0.010152,0.002538,0.0,0.000000,0.010152,PYRD_HUMAN,0
2,518740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.006098,0.000000,0.000000,0.000000,0.006098,0.0,0.000000,0.006098,PPIA_HUMAN,0
3,518740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.001328,0.000000,0.001328,0.001328,0.001328,0.0,0.000000,0.005312,PPIG_HUMAN,0
4,518740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.002193,0.000000,0.000000,0.008772,0.0,0.002193,0.000000,FKBP5_HUMAN,0

In [514]:
np.savetxt("D:\\Bela\\Biofarmaka\\new\\2019-ncov\\interaction_complete.csv",new_df,fmt=["%s"]*1283, delimiter=";")