In [1]:
import pubchempy as pcp
import pandas as pd
import numpy as np
import re, os

In [2]:
dti=pd.read_excel('drug_latih.xlsx',header=None)  
dti.head()

       0                                                  1    2
0   4725  2-amino-9-[4-hydroxy-3-(hydroxymethyl)butyl]-3...  NaN
1  34755                                       ademetionine  NaN
2   2092                                          Alfuzosin  NaN
3  33887                                          Almitrine  NaN
4   2165                                        Amodiaquine  NaN

In [3]:
listIdCom = dti[0]
listIdCom = [str(x) for x in listIdCom]

In [4]:
def split(word): 
    return [char for char in word]

In [5]:
df_= np.zeros((881,len(dti)))
df_=pd.DataFrame(df_)

In [6]:
for i in range(0,len(dti)-1):
    df_[i][0]=listIdCom[i]
    com = pcp.Compound.from_cid(listIdCom[i]).cactvs_fingerprint
    split_strings = split(com)
    df_[i] = pd.DataFrame(split_strings)
df_.head()

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,0,1,2,3,4,5,6,7,8,9,...,108,109,110,111,112,113,114,115,116,117
0,1,1,1,1,1,1,0,1,1,1,...,1,1,1,1,1,1,1,1,1,0.0
1,1,1,1,1,1,1,0,1,1,0,...,1,1,0,1,1,1,1,1,1,0.0
2,0,1,1,1,1,1,0,1,1,0,...,1,1,0,1,1,1,1,1,1,0.0
3,0,0,0,0,0,1,0,0,1,0,...,1,0,0,0,0,1,1,0,0,0.0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0

In [7]:
df_=df_.T
df_.tail()

,0,1,2,3,4,5,6,7,8,9,...,871,872,873,874,875,876,877,878,879,880
113,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
114,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
115,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
116,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
117,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
df_.to_csv(r'fp_latih.csv', index=None, header=None)