In [29]:
import pubchempy as pcp
import pandas as pd
import numpy as np
import re, os

In [27]:
dti=pd.read_excel('drug_latih.xlsx',header=None)  
dti.head()

         0              1    2
0   518740  Arsentrioxide  1.0
1  1548887     Arthrocine  1.0
2     2662      Celecoxib  1.0
3  3062316      Dasatinib  1.0
4   176870      Erlotinib  1.0

In [3]:
listIdCom = dti[0]
listIdCom = [str(x) for x in listIdCom]

In [31]:
def split(word): 
    return [char for char in word]

In [23]:
df_= np.zeros((881,len(dti)))
df_=pd.DataFrame(df_)

In [35]:
for i in range(0,len(dti)-1):
    df_[i][0]=listIdCom[i]
    com = pcp.Compound.from_cid(listIdCom[i]).cactvs_fingerprint
    split_strings = split(com)
    df_[i] = pd.DataFrame(split_strings)
df_.head()

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,0,1,2,3,4,5,6,7,8,9,...,116,117,118,119,120,121,122,123,124,125
0,0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0.0
1,0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0.0
2,0,1,0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0.0
3,0,0,0,0,0,0,0,0,1,0,...,1,0,0,1,0,1,0,0,0,0.0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0

In [36]:
df_=df_.T
df_.tail()

  pubchem_id
0     518740
1    1548887
2       2662
3    3062316
4     176870

In [39]:
df_.to_csv(r'fp_latih.csv')