In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("latih_complete.csv", delimiter=',')
df.head()

D:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,0,1,2,3,4,5,6,7,8,9,...,1274,1275,1276,1277,1278,1279,1280,1281,1282,label
0,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
1,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.067198,0.051936,0.031891,0.053303,0.223235,0.493394,0.025399,0.065604,K4LC41_9BETC,0
2,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.187898,0.181529,0.063694,0.000000,0.312102,0.363057,0.000000,0.203822,PLpro_SARS-CoV-2,0
3,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.193443,0.373770,0.000000,0.118033,0.160656,0.000000,0.000000,0.209836,6LU7:A,0
4,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.196013,0.189369,0.000000,0.119601,0.081395,0.378738,0.185216,0.053156,6M0J:A,0

In [3]:
cf=df
cf=cf.drop_duplicates(subset=["0", "1282"])

In [4]:
#rf = pd.read_csv("datatestnorm.csv", delimiter=';', header=None)
#df.head()

In [5]:
dataset2 = df
#del dataset[0]
#del dataset[1282]

In [6]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,1274,1275,1276,1277,1278,1279,1280,1281,1282,label
0,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
1,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.067198,0.051936,0.031891,0.053303,0.223235,0.493394,0.025399,0.065604,K4LC41_9BETC,0
2,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.187898,0.181529,0.063694,0.000000,0.312102,0.363057,0.000000,0.203822,PLpro_SARS-CoV-2,0
3,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.193443,0.373770,0.000000,0.118033,0.160656,0.000000,0.000000,0.209836,6LU7:A,0
4,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.196013,0.189369,0.000000,0.119601,0.081395,0.378738,0.185216,0.053156,6M0J:A,0

ABIS NORMALISASI SINI

In [7]:
X = df.drop(['0', '1282','label'], axis=1)
Y = df['label']
seed = 7

In [8]:
X_pos = dataset2[dataset2['label']==1]
Y_pos = X_pos['label']
X_pos = X_pos.drop(['label'], axis=1)
X_neg = dataset2[dataset2['label']==0]
Y_neg = X_neg['label']
X_neg = X_neg.drop(['label'], axis=1)

In [9]:
#X_pos

In [10]:
from sklearn import model_selection

In [11]:
X_postrain, X_postest, Y_postrain, Y_postest = model_selection.train_test_split(X_neg, Y_neg, test_size=0.90, random_state=seed)

In [12]:
X3 = X_postrain.append(X_pos)
Y3 = Y_postrain.append(Y_pos)

In [13]:
XXX=pd.concat([X3,Y3], axis=1)

In [14]:
X3.head()

,0,1,2,3,4,5,6,7,8,9,...,1273,1274,1275,1276,1277,1278,1279,1280,1281,1282
8821,6435415,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.110635,0.000000,0.146655,0.102916,0.030875,0.210120,0.097770,0.191252,0.054889,Q59FK4_HUMAN
5641,2585,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.093478,0.000000,0.123913,0.043478,0.039130,0.106522,0.000000,0.969565,0.069565,CP1B1_HUMAN
31306,445154,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.080979,0.444444,0.214689,0.150659,0.067797,0.184557,0.214689,0.000000,0.421846,UD15_HUMAN
33435,10127622,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.263804,0.000000,0.000000,0.163599,0.073620,0.000000,0.000000,0.000000,0.261759,CP2C9_HUMAN
20296,3736,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.133127,0.052189,0.075630,0.044228,0.071650,0.195046,0.000000,0.147943,0.084918,ENPP1_HUMAN

In [15]:
X3.shape

(4557, 1283)

In [16]:
#dataset2[100]

In [17]:
#np.savetxt("newdesc3k+norm.csv",XXX,fmt=["%s"]*(1284), delimiter=";")
XXX.to_csv("latih_parted.csv",index=False)

In [18]:
#np.savetxt("datatestnorm.csv",pd.concat([X_pos,Y_pos],axis=1),fmt=["%s"]*(1284), delimiter=";")
#datates=pd.concat([X_pos,Y_pos],axis=1)
X_neg.to_csv("allneg_latih.csv",index=False)