In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("latih_complete.csv", delimiter=',')
df.head()

D:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,0,1,2,3,4,5,6,7,8,9,...,1274,1275,1276,1277,1278,1279,1280,1281,1282,label
0,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
1,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.067198,0.051936,0.031891,0.053303,0.223235,0.493394,0.025399,0.065604,K4LC41_9BETC,0
2,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.187898,0.181529,0.063694,0.000000,0.312102,0.363057,0.000000,0.203822,PLpro_SARS-CoV-2,0
3,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.193443,0.373770,0.000000,0.118033,0.160656,0.000000,0.000000,0.209836,6LU7:A,0
4,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.196013,0.189369,0.000000,0.119601,0.081395,0.378738,0.185216,0.053156,6M0J:A,0

In [3]:
cf=df
cf=cf.drop_duplicates(subset=["0", "1282"])

In [4]:
#rf = pd.read_csv("datatestnorm.csv", delimiter=';', header=None)
#df.head()

In [5]:
dataset2 = df
#del dataset[0]
#del dataset[1282]

In [6]:
dataset2 = df
X_positip = dataset2[dataset2['label']==1]

In [7]:
Xasa=pd.concat([X_positip['0'],X_positip['1282']], axis=1)
Xasa.head()

         0            1282
0     4725  YP_009725307.1
260   4725      DPOL_HHV11
261   4725      KITH_HHV11
262   4725      KITH_HHV1C
335  34755    K4LC41_9BETC

In [8]:
X_positip['label'].value_counts()

1    685
Name: label, dtype: int64

In [9]:
Xasa.to_csv("dti_latih.csv",index=False)

In [10]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,1274,1275,1276,1277,1278,1279,1280,1281,1282,label
0,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.190118,0.122449,0.085929,0.058002,0.157895,0.367347,0.239527,0.137487,YP_009725307.1,1
1,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.067198,0.051936,0.031891,0.053303,0.223235,0.493394,0.025399,0.065604,K4LC41_9BETC,0
2,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.187898,0.181529,0.063694,0.000000,0.312102,0.363057,0.000000,0.203822,PLpro_SARS-CoV-2,0
3,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.193443,0.373770,0.000000,0.118033,0.160656,0.000000,0.000000,0.209836,6LU7:A,0
4,4725,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.196013,0.189369,0.000000,0.119601,0.081395,0.378738,0.185216,0.053156,6M0J:A,0

In [11]:
X = df.drop(['0', '1282','label'], axis=1)
Y = df['label']
seed = 7

In [12]:
X_pos = dataset2[dataset2['label']==1]
Y_pos = X_pos['label']
X_pos = X_pos.drop(['label'], axis=1)
X_neg = dataset2[dataset2['label']==0]
Y_neg = X_neg['label']
X_neg = X_neg.drop(['label'], axis=1)

In [21]:
X_spike= X_pos.loc[X_pos['1282'] == "6M0J:A"]
X_spike=X_spike.append(X_pos.loc[X_pos['1282'] == "6LZG:A"])
X_spike=X_spike.append(X_pos.loc[X_pos['1282'] == "6VSB:A"])
X_spike=X_spike.append(X_pos.loc[X_pos['1282'] == "6VXX:A"])
X_spike

,0,1,2,3,4,5,6,7,8,9,...,1273,1274,1275,1276,1277,1278,1279,1280,1281,1282
25722,4413,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.142857,0.196013,0.189369,0.000000,0.119601,0.081395,0.378738,0.185216,0.053156,6M0J:A
25723,4413,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.144295,0.197987,0.191275,0.000000,0.120805,0.082215,0.382550,0.187080,0.053691,6LZG:A
25724,4413,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.133644,0.045843,0.221445,0.046620,0.069930,0.114219,0.442890,0.000000,0.074592,6VSB:A
25725,4413,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.134375,0.046094,0.222656,0.046875,0.070312,0.114844,0.445312,0.000000,0.075000,6VXX:A

In [13]:
#X_pos

In [15]:
from sklearn import model_selection

In [16]:
X_postrain, X_postest, Y_postrain, Y_postest = model_selection.train_test_split(X_neg, Y_neg, test_size=0.90, random_state=seed)

In [17]:
X3 = X_postrain.append(X_pos)
Y3 = Y_postrain.append(Y_pos)

In [18]:
XXX=pd.concat([X3,Y3], axis=1)

In [19]:
X_postrain.describe()

,1,2,3,4,5,6,7,8,9,10,...,1272,1273,1274,1275,1276,1277,1278,1279,1280,1281
count,3872.000000,3872.000000,3872.000000,3872.000000,3872.0,3872.0,3872.0,3872.0,3872.000000,3872.000000,...,3872.000000,3872.000000,3872.000000,3872.000000,3872.000000,3872.000000,3872.000000,3872.000000,3872.000000,3872.000000
mean,0.978048,0.936725,0.762913,0.297779,0.0,0.0,0.0,0.0,0.006457,0.984504,...,0.126918,0.154335,0.112874,0.161847,0.090875,0.085034,0.197587,0.082644,0.237166,0.206444
std,0.146547,0.243488,0.425351,0.457341,0.0,0.0,0.0,0.0,0.080104,0.123530,...,0.094652,0.160004,0.122862,0.171260,0.096814,0.093032,0.162563,0.155473,0.253658,0.188360
min,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,1.000000,1.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,1.000000,...,0.067708,0.034331,0.000000,0.000000,0.031891,0.036585,0.096838,0.000000,0.000000,0.074592
50%,1.000000,1.000000,1.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,1.000000,...,0.124204,0.130699,0.100073,0.139024,0.073529,0.069498,0.173145,0.000000,0.200180,0.156098
75%,1.000000,1.000000,1.000000,1.000000,0.0,0.0,0.0,0.0,0.000000,1.000000,...,0.165254,0.213294,0.197987,0.215501,0.128205,0.116883,0.277883,0.128378,0.374067,0.281113
max,1.000000,1.000000,1.000000,1.000000,0.0,0.0,0.0,0.0,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [20]:
X3.head()

,0,1,2,3,4,5,6,7,8,9,...,1273,1274,1275,1276,1277,1278,1279,1280,1281,1282
8821,6435415,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.110635,0.000000,0.146655,0.102916,0.030875,0.210120,0.097770,0.191252,0.054889,Q59FK4_HUMAN
5641,2585,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.093478,0.000000,0.123913,0.043478,0.039130,0.106522,0.000000,0.969565,0.069565,CP1B1_HUMAN
31306,445154,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.080979,0.444444,0.214689,0.150659,0.067797,0.184557,0.214689,0.000000,0.421846,UD15_HUMAN
33435,10127622,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.263804,0.000000,0.000000,0.163599,0.073620,0.000000,0.000000,0.000000,0.261759,CP2C9_HUMAN
20296,3736,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.133127,0.052189,0.075630,0.044228,0.071650,0.195046,0.000000,0.147943,0.084918,ENPP1_HUMAN

In [21]:
X3.shape

(4557, 1283)

In [22]:
#dataset2[100]

In [23]:
#np.savetxt("newdesc3k+norm.csv",XXX,fmt=["%s"]*(1284), delimiter=";")
XXX.to_csv("latih_parted.csv",index=False)

In [24]:
#np.savetxt("datatestnorm.csv",pd.concat([X_pos,Y_pos],axis=1),fmt=["%s"]*(1284), delimiter=";")
#datates=pd.concat([X_pos,Y_pos],axis=1)
X_neg.to_csv("allneg_latih.csv",index=False)

In [25]:
#BAGI 10

In [26]:
def bagi_10perneg(x):
    X_postrain, X_postest, Y_postrain, Y_postest = model_selection.train_test_split(X_neg, Y_neg, test_size=0.90, random_state=x)
    X3 = X_postrain.append(X_pos)
    Y3 = Y_postrain.append(Y_pos)
    XXX=pd.concat([X3,Y3], axis=1)
    XXX.to_csv("latih_parted_%s.csv"%x,index=False)
    print(X_postrain.describe())
    return XXX

In [27]:
dt1 = bagi_10perneg(1)
dt2 = bagi_10perneg(2)
dt3 = bagi_10perneg(3)
dt4 = bagi_10perneg(4)
dt5 = bagi_10perneg(5)

                 1            2            3            4       5       6  \
count  3872.000000  3872.000000  3872.000000  3872.000000  3872.0  3872.0
mean      0.969267     0.926653     0.754132     0.287965     0.0     0.0
std       0.172617     0.260739     0.430656     0.452873     0.0     0.0
min       0.000000     0.000000     0.000000     0.000000     0.0     0.0
25%       1.000000     1.000000     1.000000     0.000000     0.0     0.0
50%       1.000000     1.000000     1.000000     0.000000     0.0     0.0
75%       1.000000     1.000000     1.000000     1.000000     0.0     0.0
max       1.000000     1.000000     1.000000     1.000000     0.0     0.0

            7       8            9           10  ...         1272  \
count  3872.0  3872.0  3872.000000  3872.000000  ...  3872.000000
mean      0.0     0.0     0.011364     0.980630  ...     0.125596
std       0.0     0.0     0.106007     0.137839  ...     0.096383
min       0.0     0.0     0.000000     0.000000  ...     0.000000
25%       0.0     0.0     0.000000     1.000000  ...     0.065342
50%       0.0     0.0     0.000000     1.000000  ...     0.119632
75%       0.0     0.0     0.000000     1.000000  ...     0.165410
max       0.0     0.0     1.000000     1.000000  ...     1.000000

              1273         1274         1275         1276         1277  \
count  3872.000000  3872.000000  3872.000000  3872.000000  3872.000000
mean      0.154572     0.111980     0.153172     0.089972     0.082264
std       0.153543     0.124716     0.161797     0.098049     0.086790
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.053123     0.000000     0.000000     0.029806     0.036585
50%       0.131498     0.098007     0.125000     0.072072     0.069431
75%       0.213930     0.189103     0.214689     0.124844     0.114027
max       1.000000     1.000000     1.000000     1.000000     1.000000

              1278         1279         1280         1281
count  3872.000000  3872.000000  3872.000000  3872.000000
mean      0.197637     0.086074     0.227162     0.199014
std       0.162662     0.155500     0.244468     0.183938
min       0.000000     0.000000     0.000000     0.000000
25%       0.097222     0.000000     0.000000     0.071910
50%       0.173145     0.000000     0.200180     0.143605
75%       0.277883     0.157676     0.340979     0.276885
max       1.000000     1.000000     1.000000     1.000000

[8 rows x 1281 columns]
                 1            2            3            4       5       6  \
count  3872.000000  3872.000000  3872.000000  3872.000000  3872.0  3872.0
mean      0.974948     0.928977     0.758523     0.285124     0.0     0.0
std       0.156302     0.256896     0.428034     0.451532     0.0     0.0
min       0.000000     0.000000     0.000000     0.000000     0.0     0.0
25%       1.000000     1.000000     1.000000     0.000000     0.0     0.0
50%       1.000000     1.000000     1.000000     0.000000     0.0     0.0
75%       1.000000     1.000000     1.000000     1.000000     0.0     0.0
max       1.000000     1.000000     1.000000     1.000000     0.0     0.0

            7       8            9           10  ...         1272  \
count  3872.0  3872.0  3872.000000  3872.000000  ...  3872.000000
mean      0.0     0.0     0.006457     0.981405  ...     0.130309
std       0.0     0.0     0.080104     0.135107  ...     0.099417
min       0.0     0.0     0.000000     0.000000  ...     0.000000
25%       0.0     0.0     0.000000     1.000000  ...     0.067708
50%       0.0     0.0     0.000000     1.000000  ...     0.129139
75%       0.0     0.0     0.000000     1.000000  ...     0.166463
max       0.0     0.0     1.000000     1.000000  ...     1.000000

              1273         1274         1275         1276         1277  \
count  3872.000000  3872.000000  3872.000000  3872.000000  3872.000000
mean      0.151366     0.111738     0.155892     0.095383     0.082443
std       0.158363     0.124653     0.166489     0.109290     0.087675
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.032210     0.000000     0.000000     0.032868     0.035714
50%       0.120900     0.098007     0.126949     0.073529     0.069930
75%       0.209756     0.197987     0.214689     0.130719     0.116129
max       1.000000     1.000000     1.000000     1.000000     1.000000

              1278         1279         1280         1281
count  3872.000000  3872.000000  3872.000000  3872.000000
mean      0.197905     0.088384     0.227928     0.206874
std       0.168300     0.163085     0.248080     0.191909
min       0.000000     0.000000     0.000000     0.000000
25%       0.091418     0.000000     0.000000     0.071910
50%       0.173145     0.000000     0.198575     0.153551
75%       0.282150     0.158996     0.357372     0.291793
max       1.000000     1.000000     1.000000     1.000000

[8 rows x 1281 columns]
                 1            2            3            4       5       6  \
count  3872.000000  3872.000000  3872.000000  3872.000000  3872.0  3872.0
mean      0.972624     0.926653     0.762913     0.293905     0.0     0.0
std       0.163198     0.260739     0.425351     0.455608     0.0     0.0
min       0.000000     0.000000     0.000000     0.000000     0.0     0.0
25%       1.000000     1.000000     1.000000     0.000000     0.0     0.0
50%       1.000000     1.000000     1.000000     0.000000     0.0     0.0
75%       1.000000     1.000000     1.000000     1.000000     0.0     0.0
max       1.000000     1.000000     1.000000     1.000000     0.0     0.0

            7       8            9           10  ...         1272  \
count  3872.0  3872.0  3872.000000  3872.000000  ...  3872.000000
mean      0.0     0.0     0.010589     0.983213  ...     0.125379
std       0.0     0.0     0.102369     0.128490  ...     0.090937
min       0.0     0.0     0.000000     0.000000  ...     0.000000
25%       0.0     0.0     0.000000     1.000000  ...     0.065878
50%       0.0     0.0     0.000000     1.000000  ...     0.122642
75%       0.0     0.0     0.000000     1.000000  ...     0.165957
max       0.0     0.0     1.000000     1.000000  ...     1.000000

              1273         1274         1275         1276         1277  \
count  3872.000000  3872.000000  3872.000000  3872.000000  3872.000000
mean      0.151160     0.110674     0.157109     0.091570     0.084455
std       0.154625     0.122476     0.167531     0.098481     0.094304
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.041267     0.000000     0.000000     0.032468     0.036585
50%       0.121820     0.098007     0.128378     0.073206     0.068053
75%       0.211823     0.190118     0.214892     0.128824     0.116129
max       1.000000     1.000000     1.000000     1.000000     1.000000

              1278         1279         1280         1281
count  3872.000000  3872.000000  3872.000000  3872.000000
mean      0.201093     0.083634     0.231211     0.200447
std       0.167953     0.155408     0.250811     0.184894
min       0.000000     0.000000     0.000000     0.000000
25%       0.097804     0.000000     0.000000     0.071269
50%       0.173145     0.000000     0.199821     0.143551
75%       0.277958     0.141615     0.344490     0.281010
max       1.000000     1.000000     1.000000     1.000000

[8 rows x 1281 columns]
                 1            2            3            4       5       6  \
count  3872.000000  3872.000000  3872.000000  3872.000000  3872.0  3872.0
mean      0.979339     0.932851     0.770661     0.288223     0.0     0.0
std       0.142266     0.250312     0.420462     0.452994     0.0     0.0
min       0.000000     0.000000     0.000000     0.000000     0.0     0.0
25%       1.000000     1.000000     1.000000     0.000000     0.0     0.0
50%       1.000000     1.000000     1.000000     0.000000     0.0     0.0
75%       1.000000     1.000000     1.000000     1.000000     0.0     0.0
max       1.000000     1.000000     1.000000     1.000000     0.0     0.0

            7       8            9           10  ...         1272  \
count  3872.0  3872.0  3872.000000  3872.000000  ...  3872.000000
mean      0.0     0.0     0.006715     0.986054  ...     0.127042
std       0.0     0.0     0.081679     0.117283  ...     0.096751
min       0.0     0.0     0.000000     0.000000  ...     0.000000
25%       0.0     0.0     0.000000     1.000000  ...     0.066553
50%       0.0     0.0     0.000000     1.000000  ...     0.122642
75%       0.0     0.0     0.000000     1.000000  ...     0.166261
max       0.0     0.0     1.000000     1.000000  ...     1.000000

              1273         1274         1275         1276         1277  \
count  3872.000000  3872.000000  3872.000000  3872.000000  3872.000000
mean      0.152245     0.111551     0.158376     0.095872     0.083988
std       0.159225     0.125298     0.170891     0.110049     0.089309
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.032787     0.035857
50%       0.128358     0.097601     0.128378     0.072692     0.069431
75%       0.212608     0.198653     0.215501     0.134680     0.118812
max       1.000000     1.000000     1.000000     1.000000     1.000000

              1278         1279         1280         1281
count  3872.000000  3872.000000  3872.000000  3872.000000
mean      0.199215     0.081100     0.230266     0.204446
std       0.169588     0.155709     0.251153     0.190142
min       0.000000     0.000000     0.000000     0.000000
25%       0.093333     0.000000     0.000000     0.070996
50%       0.173145     0.000000     0.199107     0.153551
75%       0.277958     0.121925     0.365574     0.291793
max       1.000000     1.000000     1.000000     1.000000

[8 rows x 1281 columns]
                 1            2            3            4       5       6  \
count  3872.000000  3872.000000  3872.000000  3872.000000  3872.0  3872.0
mean      0.973915     0.928719     0.758523     0.292872     0.0     0.0
std       0.159408     0.257327     0.428034     0.455139     0.0     0.0
min       0.000000     0.000000     0.000000     0.000000     0.0     0.0
25%       1.000000     1.000000     1.000000     0.000000     0.0     0.0
50%       1.000000     1.000000     1.000000     0.000000     0.0     0.0
75%       1.000000     1.000000     1.000000     1.000000     0.0     0.0
max       1.000000     1.000000     1.000000     1.000000     0.0     0.0

            7       8            9           10  ...         1272  \
count  3872.0  3872.0  3872.000000  3872.000000  ...  3872.000000
mean      0.0     0.0     0.008781     0.982696  ...     0.125712
std       0.0     0.0     0.093307     0.130417  ...     0.091324
min       0.0     0.0     0.000000     0.000000  ...     0.000000
25%       0.0     0.0     0.000000     1.000000  ...     0.065878
50%       0.0     0.0     0.000000     1.000000  ...     0.122899
75%       0.0     0.0     0.000000     1.000000  ...     0.165410
max       0.0     0.0     1.000000     1.000000  ...     1.000000

              1273         1274         1275         1276         1277  \
count  3872.000000  3872.000000  3872.000000  3872.000000  3872.000000
mean      0.157057     0.111700     0.155358     0.093684     0.083716
std       0.159592     0.124429     0.167208     0.102835     0.084082
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.046703     0.000000     0.000000     0.033168     0.036585
50%       0.131498     0.101900     0.125000     0.073368     0.070175
75%       0.213930     0.196013     0.213884     0.128824     0.117647
max       1.000000     1.000000     1.000000     1.000000     1.000000

              1278         1279         1280         1281
count  3872.000000  3872.000000  3872.000000  3872.000000
mean      0.202288     0.083981     0.234219     0.202884
std       0.169429     0.159075     0.249881     0.187257
min       0.000000     0.000000     0.000000     0.000000
25%       0.093333     0.000000     0.000000     0.073962
50%       0.173145     0.000000     0.200180     0.153551
75%       0.283852     0.127517     0.372910     0.276885
max       1.000000     1.000000     1.000000     1.000000

[8 rows x 1281 columns]