In [2]:
import pandas as pd
import numpy as np

In [31]:
#df = pd.read_excel("newall-complete.xlsx", delimiter=';', header=None, index=0)
df= pd.read_csv('latih.csv', sep=";", header=None)
dt = df
df.head()

,0,1,2,3,4,5,6,7,8,9,...,1274,1275,1276,1277,1278,1279,1280,1281,1282,1283
0,Rocaglamide,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.184519,0.044566,0.062549,0.084441,0.297107,0.00000,0.000000,0.300235,MDR1_HUMAN,0
1,Favipiravir,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.071864,0.000000,0.097442,0.109622,0.231425,0.00000,0.271620,0.116931,FGFR1_HUMAN,0
2,Thiabendazolum,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.175595,0.000000,0.059524,0.035714,0.141369,0.00000,0.110615,0.190476,FAK2_HUMAN,0
3,Gefitinib,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.328691,0.000000,0.000000,0.050139,0.000000,0.00000,0.310585,0.000000,Q1HBJ4_HUMAN,0
4,Lopinavir,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.079523,0.000000,0.000000,0.22664,0.221670,0.063618,CP7A1_HUMAN,0

In [32]:
com_df=df[0]
prot_df=df[1282]
label_df=df[1283]

In [33]:
del(df[0])
del(df[1282])
del(df[1283])

In [34]:
df.tail()

,1,2,3,4,5,6,7,8,9,10,...,1272,1273,1274,1275,1276,1277,1278,1279,1280,1281
3383,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.154354,0.0,0.000000,0.150396,0.105541,0.094987,0.000000,0.000000,0.00000,0.253298
3384,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.137002,0.0,0.138173,0.000000,0.093677,0.042155,0.111241,0.000000,0.00000,0.074941
3385,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.161491,0.0,0.000000,0.118012,0.124224,0.074534,0.196687,0.236025,0.00000,0.000000
3386,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.041578,0.0,0.000000,0.243070,0.042644,0.076759,0.303838,0.972281,0.23774,0.136461
3387,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.083871,0.0,0.253763,0.367742,0.000000,0.038710,0.408602,0.000000,0.47957,0.000000

In [35]:
bine=[]
for i in range(0,1281):
    bine.append(i)
df.columns=bine
df.head()

,0,1,2,3,4,5,6,7,8,9,...,1271,1272,1273,1274,1275,1276,1277,1278,1279,1280
0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.182955,0.134480,0.184519,0.044566,0.062549,0.084441,0.297107,0.00000,0.000000,0.300235
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.166261,0.157125,0.071864,0.000000,0.097442,0.109622,0.231425,0.00000,0.271620,0.116931
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.135417,0.213294,0.175595,0.000000,0.059524,0.035714,0.141369,0.00000,0.110615,0.190476
3,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.000000,0.239554,0.328691,0.000000,0.000000,0.050139,0.000000,0.00000,0.310585,0.000000
4,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.077535,0.256461,0.000000,0.000000,0.079523,0.000000,0.000000,0.22664,0.221670,0.063618

In [ ]:
#STOP DULU

In [58]:
df=pd.concat([X_train,y_train], axis=1)
df.head()

,1,2,3,4,5,6,7,8,9,10,...,1273,1274,1275,1276,1277,1278,1279,1280,1281,1283
956,0.000000,0.796360,0.693333,0.548552,0.318849,0.878720,0.777126,0.195229,0.846759,0.519201,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1
95,0.424429,0.591435,0.619500,0.336822,0.466952,0.367092,0.177286,0.511927,0.672121,0.663726,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1
166,0.747381,0.547966,0.081167,0.334875,0.641371,0.169792,0.183418,0.638532,0.054122,0.805138,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1
947,0.000000,0.796360,0.693333,0.548552,0.318849,0.878720,0.777126,0.195229,0.846759,0.519201,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1
976,0.411511,1.000000,0.562333,0.302750,0.365973,0.960990,0.696881,0.313761,1.000000,0.174883,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1

In [59]:
df.describe()

,1,2,3,4,5,6,7,8,9,10,...,1273,1274,1275,1276,1277,1278,1279,1280,1281,1283
count,1053.000000,1053.000000,1053.000000,1053.000000,1053.000000,1053.000000,1053.000000,1053.000000,1053.000000,1053.000000,...,1053.0,1053.0,1053.0,1053.0,1053.0,1053.0,1053.0,1053.0,1053.0,1053.000000
mean,0.382960,0.535878,0.524393,0.513646,0.495336,0.485550,0.504107,0.400132,0.489321,0.517396,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.868946
std,0.243958,0.210315,0.224420,0.242606,0.218225,0.267313,0.253324,0.238020,0.253044,0.263307,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.495142
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.000000
25%,0.176260,0.416916,0.432833,0.336822,0.348225,0.303826,0.300187,0.255596,0.325047,0.362481,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.000000
50%,0.376489,0.541756,0.562333,0.497201,0.500612,0.472618,0.540123,0.361835,0.482064,0.563570,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.000000
75%,0.512990,0.656103,0.635333,0.651497,0.615055,0.641160,0.696881,0.518899,0.660164,0.731448,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000

In [12]:
ncol = df.shape[1]
ncol

1281

In [61]:
dx=pd.concat([X_test,y_test], axis=1)
dx.head()

,1,2,3,4,5,6,7,8,9,10,...,1273,1274,1275,1276,1277,1278,1279,1280,1281,1283
194,0.747381,0.547966,0.081167,0.334875,0.641371,0.169792,0.183418,0.638532,0.054122,0.805138,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1
309,0.313908,0.534261,0.563667,0.746167,0.629131,0.487372,0.630499,0.375229,0.657961,0.776596,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1
575,1.000000,0.136188,0.286667,0.592845,0.997552,0.138285,0.342842,0.751193,0.000000,0.518941,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1
428,0.249175,0.633405,0.747500,0.636408,0.394125,0.515129,0.593708,0.334862,0.660164,0.742865,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1
889,0.376489,0.820985,0.690500,0.675347,0.438188,1.000000,1.000000,0.278532,0.735683,0.213804,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1

In [62]:
df.to_csv(r'fix_data/nr_train.csv', index = None, header=None)
dx.to_csv(r'fix_data/nr_test.csv', index = None, header=None)

In [63]:
df= pd.read_csv('D://Bela//Thesis//fix_data//nr_train.csv', sep=",", header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,1272,1273,1274,1275,1276,1277,1278,1279,1280,1281
0,0.000000,0.796360,0.693333,0.548552,0.318849,0.878720,0.777126,0.195229,0.846759,0.519201,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1
1,0.424429,0.591435,0.619500,0.336822,0.466952,0.367092,0.177286,0.511927,0.672121,0.663726,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1
2,0.747381,0.547966,0.081167,0.334875,0.641371,0.169792,0.183418,0.638532,0.054122,0.805138,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1
3,0.000000,0.796360,0.693333,0.548552,0.318849,0.878720,0.777126,0.195229,0.846759,0.519201,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1
4,0.411511,1.000000,0.562333,0.302750,0.365973,0.960990,0.696881,0.313761,1.000000,0.174883,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1

In [64]:
dx= pd.read_csv('D://Bela//Thesis//fix_data//nr_test.csv', sep=",", header=None)
dx.head()

,0,1,2,3,4,5,6,7,8,9,...,1272,1273,1274,1275,1276,1277,1278,1279,1280,1281
0,0.747381,0.547966,0.081167,0.334875,0.641371,0.169792,0.183418,0.638532,0.054122,0.805138,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1
1,0.313908,0.534261,0.563667,0.746167,0.629131,0.487372,0.630499,0.375229,0.657961,0.776596,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1
2,1.000000,0.136188,0.286667,0.592845,0.997552,0.138285,0.342842,0.751193,0.000000,0.518941,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1
3,0.249175,0.633405,0.747500,0.636408,0.394125,0.515129,0.593708,0.334862,0.660164,0.742865,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1
4,0.376489,0.820985,0.690500,0.675347,0.438188,1.000000,1.000000,0.278532,0.735683,0.213804,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1

In [65]:
#POS NEG DATA

In [66]:
pos = df[df[ncol-1] == 1]
pos.head()

,0,1,2,3,4,5,6,7,8,9,...,1272,1273,1274,1275,1276,1277,1278,1279,1280,1281
17,0.411511,1.000000,0.562333,0.302750,0.365973,0.960990,0.696881,0.313761,1.000000,0.174883,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
19,0.439213,0.475161,0.859333,0.988075,0.542840,0.599900,0.777126,0.518899,0.482064,0.646082,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
38,0.795034,0.541756,0.492500,0.671453,0.745410,0.802701,0.734737,1.000000,0.487099,0.058121,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
48,0.795034,0.541756,0.492500,0.671453,0.745410,0.802701,0.734737,1.000000,0.487099,0.058121,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
52,1.000000,0.136188,0.286667,0.592845,0.997552,0.138285,0.342842,0.751193,0.000000,0.518941,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [67]:
neg = df[df[ncol-1] == -1]
neg.head()

,0,1,2,3,4,5,6,7,8,9,...,1272,1273,1274,1275,1276,1277,1278,1279,1280,1281
0,0.000000,0.796360,0.693333,0.548552,0.318849,0.878720,0.777126,0.195229,0.846759,0.519201,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1
1,0.424429,0.591435,0.619500,0.336822,0.466952,0.367092,0.177286,0.511927,0.672121,0.663726,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1
2,0.747381,0.547966,0.081167,0.334875,0.641371,0.169792,0.183418,0.638532,0.054122,0.805138,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1
3,0.000000,0.796360,0.693333,0.548552,0.318849,0.878720,0.777126,0.195229,0.846759,0.519201,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1
4,0.411511,1.000000,0.562333,0.302750,0.365973,0.960990,0.696881,0.313761,1.000000,0.174883,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1

In [68]:
pos.to_csv(r'fix_data/nr_train_pos.csv', header=None)
neg.to_csv(r'fix_data/nr_train_neg.csv', header=None)

In [36]:
#LANJUT sini

In [37]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,1271,1272,1273,1274,1275,1276,1277,1278,1279,1280
0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.182955,0.134480,0.184519,0.044566,0.062549,0.084441,0.297107,0.00000,0.000000,0.300235
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.166261,0.157125,0.071864,0.000000,0.097442,0.109622,0.231425,0.00000,0.271620,0.116931
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.135417,0.213294,0.175595,0.000000,0.059524,0.035714,0.141369,0.00000,0.110615,0.190476
3,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.000000,0.239554,0.328691,0.000000,0.000000,0.050139,0.000000,0.00000,0.310585,0.000000
4,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.077535,0.256461,0.000000,0.000000,0.079523,0.000000,0.000000,0.22664,0.221670,0.063618

In [38]:
das = df.astype(str)

In [27]:
#das2 = dx.astype(str)

In [39]:
das.head()

,0,1,2,3,4,5,6,7,8,9,...,1271,1272,1273,1274,1275,1276,1277,1278,1279,1280
0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.18295543600625488,0.13448004873103991,0.18451913201798345,0.04456607610867848,0.06254886,0.08444096932447225,0.2971071265578574,0.0,0.0,0.30023456
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.16626066691443367,0.15712543968574913,0.07186359105968303,0.0,0.09744214000000002,0.10962241112302076,0.2314250778714985,0.0,0.27162001692569976,0.11693056
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.1354166587447916,0.2132936305734128,0.17559520525892944,0.0,0.05952380000000001,0.03571428571428572,0.14136902217261954,0.0,0.11061502284077468,0.190476192
3,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.2395543325208913,0.3286908201253478,0.0,0.0,0.05013926959888585,0.0,0.0,0.3105849178412262,0.0
4,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.07753478892644132,0.2564612444870775,0.0,0.0,0.07952286,0.0,0.0,0.2266402034671959,0.2216700246749496,0.063618304

In [40]:
nrow = das.shape[0]
ncol = das.shape[1]

In [29]:
#nrow2 = das2.shape[0]
#ncol2 = das2.shape[1]

In [41]:
print(range(ncol))

range(0, 1281)

In [42]:
df= pd.read_csv('added_ujimbafikanorm_dip.csv', sep=",", header=None)
com_df=df[0]
prot_df=df[1282]

del(df[0])
del(df[1282])

bine=[]
for i in range(0,1281):
    bine.append(i)
df.columns=bine
das = df.astype(str)
nrow = das.shape[0]
ncol = das.shape[1]
with open('train_libsvm.txt', 'w') as f:
    for i in range(nrow) :
        dl = ''
        dl = dl + das.iloc[i][ncol-1]
        for j in range(ncol-1) :
            dl = dl + ' ' + str(j) + ':' + das.iloc[i][j]
        f.writelines(dl+'\n')

In [43]:
#CONVERT DATA UJI

In [45]:
df= pd.read_csv('added_ujimbafikanorm_dip.csv', sep=",", header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,1273,1274,1275,1276,1277,1278,1279,1280,1281,1282
0,Syringaresinol,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.004938,0.002469,0.002469,0.000000,0.000000,0.002469,0.0,0.000000,0.004938,IF4A1_HUMAN
1,Syringaresinol,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.004926,0.000000,0.004926,0.000000,0.000000,0.004926,0.0,0.000000,0.004926,IF4A2_HUMAN
2,Syringaresinol,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.004878,0.000000,0.004878,0.000000,0.002439,0.002439,0.0,0.000000,0.004878,IF4A3_HUMAN
3,Syringaresinol,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.004975,0.002488,0.003731,0.002488,0.003731,0.002488,0.0,0.002488,0.006219,ACE2_HUMAN
4,Syringaresinol,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.002088,0.000000,0.002088,0.000000,0.002088,0.004175,0.0,0.000000,0.004175,AKT1_HUMAN

In [60]:
df= pd.read_csv('latih.csv', sep=";", header=None)
com_df=df[0]
prot_df=df[1282]

del(df[0])
del(df[1282])

bine=[]
for i in range(1,1283):
    bine.append(i)
df.columns=bine
das = df.astype(str)
nrow = das.shape[0]
ncol = das.shape[1]
with open('traindt', 'w') as f:
    for i in range(nrow) :
        dl = ''
        dl = dl + das.iloc[i][ncol]
        for j in range(1,ncol) :
            dl = dl + ' ' + str(j) + ':' + das.iloc[i][j]
        f.writelines(dl+'\n')

In [54]:
dc=df.head()
dc.head()

,0,1,2,3,4,5,6,7,8,9,...,1272,1273,1274,1275,1276,1277,1278,1279,1280,1282
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.004938,0.002469,0.002469,0.000000,0.000000,0.002469,0.0,0.000000,0.004938,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.004926,0.000000,0.004926,0.000000,0.000000,0.004926,0.0,0.000000,0.004926,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.004878,0.000000,0.004878,0.000000,0.002439,0.002439,0.0,0.000000,0.004878,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.004975,0.002488,0.003731,0.002488,0.003731,0.002488,0.0,0.002488,0.006219,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.002088,0.000000,0.002088,0.000000,0.002088,0.004175,0.0,0.000000,0.004175,0

In [62]:
df= pd.read_csv('added_ujimbafikanorm_dip.csv', sep=",", header=None)
com_df=df[0]
prot_df=df[1282]

del(df[0])
del(df[1282])

bine=[]
for i in range(1,1282):
    bine.append(i)
df.columns=bine
df[1281]=0
das = df.astype(str)
nrow = das.shape[0]
ncol = das.shape[1]
with open('mbafika_libsvm.txt', 'w') as f:
    for i in range(nrow) :
        dl = ''
        dl = dl + das.iloc[i][ncol]
        for j in range(1,ncol) :
            dl = dl + ' ' + str(j) + ':' + das.iloc[i][j]
        f.writelines(dl+'\n')

In [63]:
df= pd.read_csv('added_ujimbalindanorm_dip.csv', sep=",", header=None)
com_df=df[0]
prot_df=df[1282]

del(df[0])
del(df[1282])

bine=[]
for i in range(1,1282):
    bine.append(i)
df.columns=bine
df[1281]=0
das = df.astype(str)
nrow = das.shape[0]
ncol = das.shape[1]
with open('mbalinda_libsvm.txt', 'w') as f:
    for i in range(nrow) :
        dl = ''
        dl = dl + das.iloc[i][ncol]
        for j in range(1,ncol) :
            dl = dl + ' ' + str(j) + ':' + das.iloc[i][j]
        f.writelines(dl+'\n')

In [ ]:
df= pd.read_csv('added_ujigabungnorm_dip.csv', sep=",", header=None)
com_df=df[0]
prot_df=df[1282]

del(df[0])
del(df[1282])

bine=[]
for i in range(0,1281):
    bine.append(i)
df.columns=bine
das = df.astype(str)
nrow = das.shape[0]
ncol = das.shape[1]
with open('tes_gabung_libsvm.txt', 'w') as f:
    for i in range(nrow) :
        dl = ''
        dl = dl + das.iloc[i][ncol-1]
        for j in range(ncol-1) :
            dl = dl + ' ' + str(j) + ':' + das.iloc[i][j]
        f.writelines(dl+'\n')

In [32]:
with open('fix_data/test_libsvm.txt', 'w') as f:
    for i in range(nrow2) :
        dl = ''
        dl = dl + das2.iloc[i][ncol-1]
        for j in range(ncol2-1) :
            dl = dl + ' ' + str(j) + ':' + das2.iloc[i][j]
        f.writelines(dl+'\n')

In [33]:
#idx = pd.DataFrame(das.index)
#idx.head()

   0
0  0
1  1
2  2
3  3
4  4

In [34]:
#idx.to_csv(r'fix_data/nr_train_libsvm_index.csv', index = None, header=None)

In [35]:
#RUN BELOW FOR SPLIT BSVM

In [36]:
pos = das[das[ncol-1] == '1']
pos.head()

,0,1,2,3,4,5,6,7,8,9,...,795,796,797,798,799,800,801,802,803,804
10,0.3002727142242001,0.5233404710920775,0.6353333333333331,0.5534193234363596,0.605875152998776,0.4213553388347089,0.5075979738736334,0.2388990825688072,0.4103209565764632,0.4265697976128697,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
36,0.5129898091000435,0.4122055674518199,0.5718333333333332,0.4227305913847652,0.6150550795593634,0.3673418354588645,0.3193814982671288,0.39981651376146776,0.395217117684078,0.5954852101712507,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
38,0.17625950911439658,0.5685224839400429,0.7501666666666664,1.0000000000000002,0.5385556915544676,0.7154288572143033,0.9674753399093574,0.2555963302752292,0.594084329767149,0.7314478463933574,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1
46,0.0,0.7963597430406852,0.6933333333333334,0.5485519591141397,0.3188494492044063,0.8787196799199792,0.7771260997067455,0.19522935779816494,0.8467589679043426,0.5192008303061755,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
49,0.4244294531362138,0.5914346895074947,0.6194999999999999,0.3368216110975908,0.4669522643818849,0.3670917729432359,0.17728605705145295,0.511926605504587,0.6721208307111388,0.6637259989621169,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [37]:
drow = pos.shape[0]
dcol = pos.shape[1]

In [38]:
with open('fix_data/nr_pos_libsvm.txt', 'w') as f:
    for i in range(drow) :
        da = ''
        da = da + das.iloc[i][ncol-1]
        for j in range(ncol-1) :
            da = da + ' ' + str(j) + ':' + pos.iloc[i][j]
        f.writelines(da+'\n')

In [39]:
neg = das[das[ncol-1] == '-1']
neg.head()

,0,1,2,3,4,5,6,7,8,9,...,795,796,797,798,799,800,801,802,803,804
0,0.1089421558777095,0.7483940042826553,0.5258333333333334,0.6437089316135312,0.2227662178702574,0.9092273068267068,0.8211143695014669,0.1416513761467889,0.9782882315921964,0.5635703165542291,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,-1
1,0.5129898091000435,0.4122055674518199,0.5718333333333332,0.4227305913847652,0.6150550795593634,0.3673418354588645,0.3193814982671288,0.39981651376146776,0.395217117684078,0.5954852101712507,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,-1
2,0.3764891631979337,0.8209850107066381,0.6905000000000001,0.6753467997079581,0.438188494492044,1.0,1.0000000000000004,0.27853211009174306,0.7356828193832603,0.21380384016606116,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1
3,0.3764891631979337,0.8209850107066381,0.6905000000000001,0.6753467997079581,0.438188494492044,1.0,1.0000000000000004,0.27853211009174306,0.7356828193832603,0.21380384016606116,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,-1
4,1.0,0.13618843683083506,0.28666666666666685,0.5928449744463371,0.9975520195838437,0.13828457114278606,0.34284190882431353,0.7511926605504586,0.0,0.5189413596263623,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1

In [40]:
crow = pos.shape[0]
ccol = pos.shape[1]

In [41]:
df.shape

(1053, 805)

In [42]:
neg.shape

(985, 805)

In [43]:
pos.shape

(68, 805)

In [44]:
with open('fix_data/nr_neg_libsvm.txt', 'w') as f:
    for i in range(crow) :
        da = ''
        da = da + das.iloc[i][ncol-1]
        for j in range(ncol-1) :
                da = da + ' ' + str(j) + ':' + neg.iloc[i][j]
        f.writelines(da+'\n')